{% extends 'layouts/base.jinja' %}

{% block title %}React App{% endblock %}

{% block content %}
    <div class="bg-grey-lighter h-screen">
        <div class="container mx-auto h-full flex justify-center items-center">
            <div class="w-1/3 bg-white px-4 py-4 rounded-lg">
                <div id="root"></div>
            </div>
        </div>
    </div>
{% endblock %}
